<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpi.easii.es.vendedistraido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.CadastroClienteActivity" />
        <activity
            android:name=".view.gestor.GestorActivity"
            android:label="@string/title_activity_gestor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.corretor.CorretorActivity" />
        <activity android:name=".view.gestor.CadastraCorretorActivity" />
        <activity android:name=".view.corretor.CadastraImovelActivity" />
        <activity android:name=".view.cliente.ClienteActivity" />
        <activity android:name=".view.gestor.ListarCorretoresActivity" />
        <activity android:name=".view.gestor.ListarImoveisActivity"></activity>
    </application>

</manifest>